* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #0197f6;
}

.search-container {
    width: 100%;
    max-width: 600px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    color: #0197f6;
    margin: 20px 0;
}

.offer-section {
    padding: 20px;
}

.offer-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card-title {
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
}

.card-desc {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.enquire-btn {
    background-color: #0197f6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.enquire-btn:hover {
    background-color: #007acc;
}
